@import "tailwindcss";

@font-face {
  font-family: 'myfont';
  src: url('/fonts/font1.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'myfont2';
  src: url('/fonts/font2.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-myfont: 'myfont', sans-serif;
  --font-myfont2: 'myfont2', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: #eceff6; /* dark background */
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: #1f0323; /* indigo */
  border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #131044;
}